/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    margin: 20px 4%;
    display: flex;
    background-color: #161616;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0px;
    border-radius: 20px;


}

.banner-info {
    height: 531px;
    width: 425px;
    color: white;

}

.banner-info h1 {
    font-size: 50px;
    font-weight: 900;
}

.banner-info .live-show {
    background-color: #DD0000;
    color: white;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.top-banner-img img {

    width: 500px;
    height: 500px;


}

/* main section  */
.main-section {
    margin: 80px 4%;
    display: grid;
    grid-template-columns: 280px repeat(1, 1fr);
    grid-gap: 10px;


}

.blog-menu {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 20px;
    padding: 20px;
    height: 300px;

}

.menu-button {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 15px;
    border: none;
}



.menu-button:focus {
    background-color: #DD0000;
}



.blog-iteam {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.blog img {
    height: 170px;
    width: 280px;
}

.blog-info .view-time {
    color: rgb(199, 193, 193);
    background-color: white;
}

.blog-info .view-time span {
    margin-right: 20px;
}

.blog-button {
    font-size: 16px;
    font-weight: 700;
    padding: 3px 8px;
}

/* footer section  */
.footer-section {
    padding: 50px;
    background-color: #161616;
    color: white;
}

.footer-head {
    text-align: center;
    font-weight: 800;

}

.footer-section hr {
    width: 90%;



}

.footer-link {
    display: flex;
    justify-content: center;

}

.footer-link .link {
    font-size: 14 px;
    margin: 10px;
    padding: 10px;

}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.ancor {
    display: inline-block;
}


.link-name {
    color: aliceblue;

    font-size: 30px;
    margin: 10px;
    padding: 10px;
}