/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    margin: 20px 4%;
    display: flex;
    background-color: #161616;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0px;
    border-radius: 20px;


}

.banner-info {
    height: 531px;
    width: 425px;
    color: white;

}

.banner-info h1 {
    font-size: 50px;
    font-weight: 900;
}

.banner-info .live-show {
    background-color: #DD0000;
    color: white;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.top-banner-img img {

    width: 550px;
    height: 550px;


}

/* main section  */
.main-section {
    margin: 80px 4%;
}

.blog-iteam {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.blog img {
    height: 170px;
    width: 300px;
}

.blog-info .view-time {
    color: rgb(199, 193, 193);
    background-color: white;
}

.blog-info .view-time span {
    margin-right: 20px;
}

.blog-button {
    font-size: 16px;
    font-weight: 700;
    padding: 3px 8px;
}